<!-- What is -->
<div id="about" class="content-section-b content" style="border-top: 0">
  <div class="container">

    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
      <h2>About</h2>
      <p class="lead" style="margin-top:0">This is a quick site to show the wonders of Scala and the Play Framework.</p>
    </div>
  </div>
  <div class="container">
    <p>© <a href="https://uk.linkedin.com/in/nenyi-arkaah-75800541" style="text-decoration: none;">Nenyi Arkaah</a>.</p>
  </div>
</div>