
@(calcInterest: Option[Double], descrip: String, calcForm: Form[calcData])(implicit messages: Messages)

<!-- Interest Calculator -->
<div id="calc" class="content-section-b content" style="border-top: 0">
  <div class="container content-section-b-inner">
    <form role="form" id="InterestForm" name="InterestForm">
      <div class="col-md-6 col-md-offset-3 col-lg-offset-4">
        <div class="form-group">
          <label for="inputAmount">Amount</label>
          <div id="amountClass" class="form-group has-success has-feedback">
            <input type="" class="form-control" name="inputAmount" id="inputAmount"
            placeholder="Enter amount, this can be to 2 decimal number." onkeyup="extractAndTestInputData('inputAmount',decimalOnly)"
            oninput="setCustomValidity('')" required>
            <span id="amountSpan" class="glyphicon glyphicon-ok form-control-feedback"></span>
          </div>
        </div>

        <div class="form-group">
          <label for="inputInterest">Interest</label>
          <div id="interestClass" class="form-group has-success has-feedback">
            <input type="" class="form-control" name="inputInterest" id="inputInterest"
            placeholder="Enter interest, this can be to 2 decimal number." onkeyup="extractAndTestInputData('inputInterest',decimalOnly)"
            oninput="setCustomValidity('')" required>
            <span id="interestSpan" class="glyphicon glyphicon-ok form-control-feedback"></span>
          </div>
        </div>
        <br>
        <div class="form-group">
          <input type="submit" name="submit" id="submit" value="Submit" class="btn tada btn-embossed btn-primary pull-right">
        </div>

      </div>
      <br>
      <div class="col-md-6 col-md-offset-3 col-lg-offset-4 text-left">
        <p id="message">@descrip</p>
        <h3 id="calculatedInterest">@calcInterest</h3>
      </div>
    </form>
  </div>
</div>
  <!-- /Interest Calculator -->
<script>
        var $intform = $("#InterestForm");

        $intform.on('submit', function () {
            $intform.preventDefault;
            if(FormValidation()) {
                $.ajax({
                    type: 'GET',
                    url: '@routes.Application.process()',
                    data: $("#InterestForm").serialize(),
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        document.getElementById('message').innerHTML = response['message'];
                        document.getElementById('calculatedInterest').innerHTML = response['interest'];
                    },
                    error: function (response) {
                        var responseTextObject = response.responseText;
                        alert(responseTextObject);
                    }
                });
                return false;
            }

        })
</script>

<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
