<!-- FullScreen -->
<div id="home-index" class="intro-header container-fluid">
    <div class="col-xs-12 text-center abcen1">
        <h2 class="h1_home">World Of APR</h2>
        <h3>How much interest do you pay.</h3>
    </div>
        <!-- /.container -->
    <div class="col-xs-12 text-center abcen">
        <div class="button_down ">
            <a class="imgcircle" href="#navbar-main"> <img class="img_scroll" src="@routes.Assets.versioned("/assets/icons/circle.png")" alt="circle"> </a>
        </div>
    </div>
</div>