@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>


            <!--Boostrap-->
        <link href="@routes.Assets.versioned("assets/bootstrap/css/bootstrap.min.css")" rel='stylesheet'>
        <link href="@routes.Assets.versioned("assets/css/style.css")" rel='stylesheet'>

            <!-- Custom Google Web Font -->
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

            <!-- JavaScript -->
        <script src="@routes.Assets.versioned("/assets/js/jquery-3.1.1.min.js")"></script>
        <script src="@routes.Assets.versioned("/assets/js/inputvalidation.js")"></script>
        <script src="@routes.Assets.versioned("/assets/bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("/assets/js/index.js")"></script>

    </head>
    <body id="home">
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

    </body>
    <footer>
        <p>© <a href="https://uk.linkedin.com/in/nenyi-arkaah-75800541" style="text-decoration: none;">Nenyi Arkaah</a>.</p>
    </footer>
</html>
